.orderpay__container{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  background-color: #fff;
}
.order__container{
  width: 100%;
  height: 15rem;
  background-color: #fff;
  padding: 10px 10px 10px 20px;
  border: 1px solid #eef8fd;
  border-radius: 2px;
}
.order__head{
  font-size: 14px;
  font-weight: 700;
  color: #262626;
}
.order__pending{
  font-size: 14px;
  text-transform: capitalize;
}
.yellow__text{
  font-weight: 900;
  color: #FDC203;
}
.green__text{
  font-weight: 900;
  color: #27AE60;
}
.blue__text{
  font-weight: 900;
  color: #1860ec;
}
