* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0; 
}

html {
  font-size: 70%; }

body {
  background-color: #F5F7F8; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7; }