body {
  margin: 0;
  font-family:'Roboto', sans-serif;;
  font-family: 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F8FA;
}

html{
  font-size: 62.5%;
}

.container{
  max-width: 1460px;
}